@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.helpdesk{
    width: 100%;
    height: 100vh;
    display: flex;
}
.box-helpdesk {
    height: 100vh;
    width: 50vw;
    background-color: rgb(121 45 212);
}

.box-img {
    height: 100vh;
    width: 50vw;
    background-image: url(../img/helpdesk.jpg);
    background-size: cover;
    background-position-x: center;
}

.img-card-auvo {
    box-sizing: border-box;
    height: 50vh;
    padding-top: 9vh;
}

.img-card-auvo .b {
    height: 80%;
}

.box-texto {
    height: 50vh;
    color: #fff;
}

.texto-helpdesk {
    width: 35vw;
    text-align: center;
}

.texto-helpdesk h2 {
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 500;
}

.texto-helpdesk p {
    padding-bottom: 15px;
}

.btn-helpdesk {
    width: 90%;
    height: 40px;
    background-color: #0077df;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
    transition: 0.5s;
}

.btn-helpdesk:hover {
    background-color:#28CC69;
    transform: scale(0.975);
}

.ajuda-helpdesk {
    position: fixed;
    bottom: 15px;
    margin-right: 15px;
    width: 12%;
    height: 40px;
    border-radius: 30px;
    font-size: large;
    color: #ffffff;
    font-size: 14px;
    background-color: #242424;
    cursor: pointer;
    border: 3px solid #fff;
    transition: all 0.5s;
} 

.ajuda-helpdesk h4 {
    font-weight: 500;
}

.ajuda-helpdesk:hover {
    background-color:#28CC69;
    color: #fff;
}

.box-content-img {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}